<h1>Agregar Producto</h1>
<form class="form-horizontal"
[formGroup]="formProductos" 
(ngSubmit)="save()" >

<fieldset>
<div class="form-group">
    <label for="nombre">Nombre</label>
    <input id="nombre" class="form-control"
    type="text"
    required
    formControlName="nombre"
    >
</div>
<div class="form-group">
    <label for="descripcion">Descripcion</label>
    <input id="descripcion" class="form-control"
    type="text"
    required
    formControlName="descripcion"
    >
</div>
<div class="form-group">
    <label for="precio">Precio</label>
    <input id="precio" class="form-control"
    type="text"
    required
    formControlName="precio"
    >
</div>
<div class="form-group">
    <label for="fechaCreacion">Fecha</label>
    <input id="fechaCreacion" class="form-control"
    type="date"
    required
    formControlName="fechaCreacion"
    >
</div>

<div class="form-group">
    <label for="tieneStock">Tiene Stock</label>
    <input type="checkbox" class="form-control" id="tieneStock" name="tieneStock" formControlName="tieneStock">
</div>

   <!--
 
<div class="form-group">
    
    <label for="tieneStock">Tiene Stock</label>
    <input id="tieneStock" class="form-control"
    type="text"
    required
    formControlName="tieneStock"
    >
   
        <input type="radio" value="true" class="form-control" formControlName="tieneStock">
          <span>SI</span>

        <input type="radio" value="false"  class="form-control" formControlName="tieneStock">
          <span>NO</span> 
</div>
 -->
 
</fieldset>

<button class="btn btn-primary" type="submit">Guardar</button>
</form>