<h1>Agregar Producto</h1>
<form class="form-horizontal"
[formGroup]="formProductos" 
(ngSubmit)="save()" >

<fieldset>
<div class="form-group">
    <label for="nombre">Nombre</label>
    <input id="nombre" class="form-control"
    type="text"
    required
    formControlName="nombre"
    >
    <span class="help-block" 
    *ngIf="(  formProductos.get('nombre').touched || 
              formProductos.get('nombre').dirty  && 
             !formProductos.valid ) " >
        <span *ngIf="formProductos.get('nombre').errors?.required"   >
        El campo es requerido
        </span>
    </span>

</div>
<div class="form-group">
    <label for="descripcion">Descripcion</label>
    <input id="descripcion" class="form-control"
    type="text"
    required
    formControlName="descripcion"
    >
    <span class="help-block" 
    *ngIf="(  formProductos.get('descripcion').touched || 
              formProductos.get('descripcion').dirty  && 
             !formProductos.valid ) " >
        <span *ngIf="formProductos.get('descripcion').errors?.required"   >
        El campo es requerido
        </span>
    </span>
</div>
<div class="form-group">
    <label for="precio">Precio</label>
    <input id="precio" class="form-control"
    type="text"
    required
    formControlName="precio"
    >
</div>
<div class="form-group">
    <label for="fechaCreacion">Fecha</label>
    <input id="fechaCreacion" class="form-control"
    type="date"
    required
    formControlName="fechaCreacion"
    >
</div>

<div class="form-group">
    <label for="tieneStock">Tiene Stock</label>
    <input type="checkbox" class="form-control" id="tieneStock" name="tieneStock" formControlName="tieneStock">
</div>

</fieldset>

<button class="btn btn-primary" type="submit">Guardar</button>
</form>